
USE [CRM_MASTERDB]
GO
/****** Object:  Schema [adidas_schema]    Script Date: 18/03/2026 13:54:28 ******/
CREATE SCHEMA [adidas_schema]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EsAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosAux]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosAux](
	[IdUsuario] [int] NOT NULL,
	[Salt] [nvarchar](max) NULL,
	[Password] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_LOGIN]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LOGIN]
AS
	SELECT U.Email, UA.Salt, UA.Password FROM Usuarios U inner Join UsuariosAux UA on U.IdUsuario = UA.IdUsuario
GO
/****** Object:  Table [adidas_schema].[Clientes]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adidas_schema].[Clientes](
	[Id] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Empresa] [nvarchar](255) NULL,
	[Sector] [nvarchar](100) NULL,
	[VIP] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [adidas_schema].[Empleados]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adidas_schema].[Empleados](
	[Id] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Nombre] [nvarchar](255) NULL,
	[Puesto] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [adidas_schema].[Facturas]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adidas_schema].[Facturas](
	[Id] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Numero de factura] [nvarchar](255) NULL,
	[Cliente] [int] NULL,
	[Fecha de emision] [datetime] NULL,
	[Estado] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [adidas_schema].[Proyectos]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adidas_schema].[Proyectos](
	[Id] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Nombre Proyecto] [nvarchar](255) NULL,
	[Estado] [nvarchar](100) NULL,
	[Cliente] [int] NULL,
	[Fecha Limite] [datetime] NULL,
	[Presupuesto] [decimal](18, 2) NULL,
	[Prioridad] [nvarchar](100) NULL,
	[Responsable] [int] NULL,
	[Facturado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[IdEmpresa] [int] NOT NULL,
	[CIFEmpresa] [nvarchar](10) NULL,
	[NombreEmpresa] [nvarchar](100) NOT NULL,
	[NombreSchema] [nvarchar](100) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IsPremium] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meta_Columnas]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meta_Columnas](
	[IdColumna] [int] NOT NULL,
	[IdTabla] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[TipoDato] [nvarchar](50) NOT NULL,
	[IdTablaRelacionada] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdColumna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meta_Opciones]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meta_Opciones](
	[IdOpcion] [int] NOT NULL,
	[IdColumna] [int] NOT NULL,
	[Valor] [nvarchar](100) NOT NULL,
	[Color] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOpcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meta_Tablas]    Script Date: 18/03/2026 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meta_Tablas](
	[IdTabla] [int] NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[NombreInterno] [nvarchar](100) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [adidas_schema].[Clientes] ([Id], [FechaCreacion], [Empresa], [Sector], [VIP]) VALUES (1, CAST(N'2026-03-04T13:09:42.463' AS DateTime), N'TechNova Solutions', N'Tecnología', 1)
INSERT [adidas_schema].[Clientes] ([Id], [FechaCreacion], [Empresa], [Sector], [VIP]) VALUES (2, CAST(N'2026-03-04T13:10:16.073' AS DateTime), N'Banco Global', N'Finanzas', 1)
INSERT [adidas_schema].[Clientes] ([Id], [FechaCreacion], [Empresa], [Sector], [VIP]) VALUES (3, CAST(N'2026-03-04T13:10:27.637' AS DateTime), N'EcoSalud', N'Salud', 0)
GO
INSERT [adidas_schema].[Empleados] ([Id], [FechaCreacion], [Nombre], [Puesto]) VALUES (1, CAST(N'2026-02-28T15:08:51.790' AS DateTime), N'Ana Pérez', N'Tech Lead')
INSERT [adidas_schema].[Empleados] ([Id], [FechaCreacion], [Nombre], [Puesto]) VALUES (2, CAST(N'2026-03-04T13:15:52.153' AS DateTime), N'Carlos Ruiz', N'Senior Developer')
INSERT [adidas_schema].[Empleados] ([Id], [FechaCreacion], [Nombre], [Puesto]) VALUES (3, CAST(N'2026-03-04T13:16:05.400' AS DateTime), N'Elena Santos', N'Project Manager')
GO
INSERT [adidas_schema].[Proyectos] ([Id], [FechaCreacion], [Nombre Proyecto], [Estado], [Cliente], [Fecha Limite], [Presupuesto], [Prioridad], [Responsable], [Facturado]) VALUES (2, CAST(N'2026-03-04T13:18:40.073' AS DateTime), N'Rediseño App Móvil', N'Bloqueado', 2, CAST(N'2026-03-28T00:00:00.000' AS DateTime), CAST(28000.00 AS Decimal(18, 2)), N'Alta', 2, NULL)
INSERT [adidas_schema].[Proyectos] ([Id], [FechaCreacion], [Nombre Proyecto], [Estado], [Cliente], [Fecha Limite], [Presupuesto], [Prioridad], [Responsable], [Facturado]) VALUES (3, CAST(N'2026-03-04T13:19:29.083' AS DateTime), N'Auditoría de Seguridad', N'Completado', 3, CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(12000.00 AS Decimal(18, 2)), N'Media', 3, 1)
INSERT [adidas_schema].[Proyectos] ([Id], [FechaCreacion], [Nombre Proyecto], [Estado], [Cliente], [Fecha Limite], [Presupuesto], [Prioridad], [Responsable], [Facturado]) VALUES (4, CAST(N'2026-03-04T13:20:17.627' AS DateTime), N'Integración API Pagos', N'Pendiente', 1, CAST(N'2026-05-30T00:00:00.000' AS DateTime), CAST(18500.00 AS Decimal(18, 2)), N'Baja', 1, 1)
GO
INSERT [dbo].[Empresas] ([IdEmpresa], [CIFEmpresa], [NombreEmpresa], [NombreSchema], [FechaRegistro], [Activo], [IsPremium]) VALUES (3, N'C123456789', N'Adidas SL', N'adidas_schema', CAST(N'2026-02-26T09:39:53.810' AS DateTime), 1, 1)
GO
INSERT [dbo].[Meta_Columnas] ([IdColumna], [IdTabla], [Nombre], [TipoDato], [IdTablaRelacionada]) VALUES (20, 9, N'Nombre', N'Texto', NULL)
INSERT [dbo].[Meta_Columnas] ([IdColumna], [IdTabla], [Nombre], [TipoDato], [IdTablaRelacionada]) VALUES (21, 9, N'Puesto', N'Texto', NULL)
INSERT [dbo].[Meta_Columnas] ([IdColumna], [IdTabla], [Nombre], [TipoDato], [IdTablaRelacionada]) VALUES (22, 12, N'Empresa', N'Texto', NULL)
GO
INSERT [dbo].[Meta_Opciones] ([IdOpcion], [IdColumna], [Valor], [Color]) VALUES (11, 23, N'Tecnología', N'#3b82f6')
INSERT [dbo].[Meta_Opciones] ([IdOpcion], [IdColumna], [Valor], [Color]) VALUES (12, 23, N'Finanzas', N'#76f042')
INSERT [dbo].[Meta_Opciones] ([IdOpcion], [IdColumna], [Valor], [Color]) VALUES (13, 23, N'Salud', N'#c42121')
GO
INSERT [dbo].[Meta_Tablas] ([IdTabla], [IdEmpresa], [Nombre], [NombreInterno], [FechaCreacion]) VALUES (9, 3, N'Empleados', N'empleados', CAST(N'2026-02-28T11:06:04.173' AS DateTime))
INSERT [dbo].[Meta_Tablas] ([IdTabla], [IdEmpresa], [Nombre], [NombreInterno], [FechaCreacion]) VALUES (12, 3, N'Clientes', N'clientes', CAST(N'2026-03-04T13:08:16.340' AS DateTime))
INSERT [dbo].[Meta_Tablas] ([IdTabla], [IdEmpresa], [Nombre], [NombreInterno], [FechaCreacion]) VALUES (13, 3, N'Proyectos', N'proyectos', CAST(N'2026-03-04T13:10:46.913' AS DateTime))
GO
INSERT [dbo].[Usuarios] ([IdUsuario], [IdEmpresa], [Email], [Password], [Nombre], [EsAdmin]) VALUES (3, 3, N'alejandro.canovas@adidas.com', N'12345', N'Alejandro Canovas Lopez', 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdEmpresa], [Email], [Password], [Nombre], [EsAdmin]) VALUES (7, 3, N'jorge@adidas.com', N'123456', N'Jorge', 0)
GO
INSERT [dbo].[UsuariosAux] ([IdUsuario], [Salt], [Password]) VALUES (3, N'v[ÛÎX/)3M¡fVú½ÃØÒ3*?T+F¯úÔy&.×ûH3&\xU', 0xC1E60CFBC33C86440A67A5175BBCDE05E135F411C32B64DCD2CFC82EC3484A3FDFF9C7C606A2EFBCDE8CB3BD3BB755C2BC943EB600192F794C0ED552F3C1A8BA)
INSERT [dbo].[UsuariosAux] ([IdUsuario], [Salt], [Password]) VALUES (7, N'ì¾!A¿¦·0_.§Uá<zg¶£í2N[b77*ò©6².2$Æq¤3#¹_°', 0x167B2142B97C9D91C7C539DCB2BE9ADA7C1A6D7B2773CF2C6F043F32E796310E71265AC4F935264E2C853B5E72E562F45EB3732FC4C4E462126801F00B8639E6)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empresas__2564AF9CF5084C63]    Script Date: 18/03/2026 13:54:29 ******/
ALTER TABLE [dbo].[Empresas] ADD UNIQUE NONCLUSTERED 
(
	[NombreSchema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empresas__F52EBE5D4D400176]    Script Date: 18/03/2026 13:54:29 ******/
ALTER TABLE [dbo].[Empresas] ADD UNIQUE NONCLUSTERED 
(
	[CIFEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Columna_Tabla]    Script Date: 18/03/2026 13:54:29 ******/
ALTER TABLE [dbo].[Meta_Columnas] ADD  CONSTRAINT [UQ_Columna_Tabla] UNIQUE NONCLUSTERED 
(
	[IdTabla] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Opcion_Columna]    Script Date: 18/03/2026 13:54:29 ******/
ALTER TABLE [dbo].[Meta_Opciones] ADD  CONSTRAINT [UQ_Opcion_Columna] UNIQUE NONCLUSTERED 
(
	[IdColumna] ASC,
	[Valor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Tabla_Empresa]    Script Date: 18/03/2026 13:54:29 ******/
ALTER TABLE [dbo].[Meta_Tablas] ADD  CONSTRAINT [UQ_Tabla_Empresa] UNIQUE NONCLUSTERED 
(
	[IdEmpresa] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuario_Email]    Script Date: 18/03/2026 13:54:29 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuario_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [adidas_schema].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [adidas_schema].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [adidas_schema].[Facturas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [adidas_schema].[Proyectos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((0)) FOR [IsPremium]
GO
ALTER TABLE [dbo].[Meta_Tablas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [adidas_schema].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Cliente] FOREIGN KEY([Cliente])
REFERENCES [adidas_schema].[Clientes] ([Id])
GO
ALTER TABLE [adidas_schema].[Facturas] CHECK CONSTRAINT [FK_Facturas_Cliente]
GO
ALTER TABLE [adidas_schema].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_Cliente] FOREIGN KEY([Cliente])
REFERENCES [adidas_schema].[Clientes] ([Id])
GO
ALTER TABLE [adidas_schema].[Proyectos] CHECK CONSTRAINT [FK_Proyectos_Cliente]
GO
ALTER TABLE [adidas_schema].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_Responsable] FOREIGN KEY([Responsable])
REFERENCES [adidas_schema].[Empleados] ([Id])
GO
ALTER TABLE [adidas_schema].[Proyectos] CHECK CONSTRAINT [FK_Proyectos_Responsable]
GO
ALTER TABLE [dbo].[Meta_Columnas]  WITH CHECK ADD  CONSTRAINT [FK_MetaColumnas_MetaTablas] FOREIGN KEY([IdTabla])
REFERENCES [dbo].[Meta_Tablas] ([IdTabla])
GO
ALTER TABLE [dbo].[Meta_Columnas] CHECK CONSTRAINT [FK_MetaColumnas_MetaTablas]
GO
ALTER TABLE [dbo].[Meta_Columnas]  WITH CHECK ADD  CONSTRAINT [FK_MetaColumnas_TablaRelacionada] FOREIGN KEY([IdTablaRelacionada])
REFERENCES [dbo].[Meta_Tablas] ([IdTabla])
GO
ALTER TABLE [dbo].[Meta_Columnas] CHECK CONSTRAINT [FK_MetaColumnas_TablaRelacionada]
GO
ALTER TABLE [dbo].[Meta_Opciones]  WITH CHECK ADD  CONSTRAINT [FK_MetaOpciones_Columnas] FOREIGN KEY([IdColumna])
REFERENCES [dbo].[Meta_Columnas] ([IdColumna])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meta_Opciones] CHECK CONSTRAINT [FK_MetaOpciones_Columnas]
GO
ALTER TABLE [dbo].[Meta_Tablas]  WITH CHECK ADD  CONSTRAINT [FK_MetaTablas_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Meta_Tablas] CHECK CONSTRAINT [FK_MetaTablas_Empresas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empresas]
GO
ALTER TABLE [dbo].[UsuariosAux]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosAux_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuariosAux] CHECK CONSTRAINT [FK_UsuariosAux_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALL_TABLAS_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_ALL_TABLAS_EMPRESA]
(
    @IdEmpresa INT
)
AS
    DECLARE @nombreSchema NVARCHAR(100)
    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa

    SELECT t.name AS [Tabla]
    FROM sys.tables t
    INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
    WHERE s.name = @nombreSchema
GO
/****** Object:  StoredProcedure [dbo].[SP_CREAR_TABLA_CLIENTES_POR_DEFECTO]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_CREAR_TABLA_CLIENTES_POR_DEFECTO]
(
    @IdEmpresa INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nombreSchema NVARCHAR(50)
    DECLARE @nombreTabla NVARCHAR(50) = 'Clientes'
    DECLARE @nombreTablaInterno NVARCHAR(50) = 'clientes'
    DECLARE @SqlCreateTable NVARCHAR(MAX)
    
    DECLARE @idTablaInsert INT
    DECLARE @idColInsert INT

    -- 1. Obtener el esquema asignado a la empresa
    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa

    -- Verificamos que la empresa exista y que no tenga ya una tabla llamada 'Clientes'
    IF @nombreSchema IS NOT NULL AND NOT EXISTS (SELECT 1 FROM Meta_Tablas WHERE Nombre = @nombreTabla AND IdEmpresa = @IdEmpresa)
    BEGIN
        
        BEGIN TRY
            BEGIN TRANSACTION;

            --------------------------------------------------------------
            -- 2. REGISTRO EN META_TABLAS
            --------------------------------------------------------------
            SELECT @idTablaInsert = ISNULL(MAX(IdTabla), 0) + 1 FROM Meta_Tablas

            INSERT INTO Meta_Tablas (IdTabla, IdEmpresa, Nombre, NombreInterno)
            VALUES (@idTablaInsert, @IdEmpresa, @nombreTabla, @nombreTablaInterno);

            --------------------------------------------------------------
            -- 3. CREACIÓN FÍSICA DE LA TABLA
            --------------------------------------------------------------
            SET @SqlCreateTable = 'CREATE TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) + ' (' +
                '[Id] INT PRIMARY KEY, ' +
                '[FechaCreacion] DATETIME DEFAULT GETDATE(), ' +
                '[Nombre] NVARCHAR(150), ' +
                '[Email] NVARCHAR(150), ' +
                '[Telefono] NVARCHAR(50), ' +
                '[VIP] BIT DEFAULT 0' +
            ');';

            EXEC sp_executesql @SqlCreateTable;

            --------------------------------------------------------------
            -- 4. REGISTRO EN META_COLUMNAS
            --------------------------------------------------------------
            SELECT @idColInsert = ISNULL(MAX(IdColumna), 0) FROM Meta_Columnas

            INSERT INTO Meta_Columnas (IdColumna, IdTabla, Nombre, TipoDato)
            VALUES 
                (@idColInsert + 1, @idTablaInsert, 'Nombre', 'Texto'),
                (@idColInsert + 2, @idTablaInsert, 'Email', 'Texto'),
                (@idColInsert + 3, @idTablaInsert, 'Telefono', 'Texto'),
                (@idColInsert + 4, @idTablaInsert, 'VIP', 'SiNo');

            COMMIT TRANSACTION;
            
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
            BEGIN
                ROLLBACK TRANSACTION;
            END; -- ¡AQUÍ ESTÁ EL PUNTO Y COMA SALVAVIDAS!

            -- Ahora SQL Server sí nos deja usar THROW
            THROW; 
        END CATCH
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ======================================================================
-- 3. PROCEDIMIENTOS ALMACENADOS
-- ======================================================================

----------------------------------------------------------
-- EMPRESAS Y USUARIOS
----------------------------------------------------------
CREATE   PROCEDURE [dbo].[SP_CREATE_EMPRESA]
(
    @CIFEmpresa NVARCHAR(50), 
    @nombreEmpresa NVARCHAR(50), 
    @nombreUser NVARCHAR(50), 
    @emailUser NVARCHAR(50), 
    @passwordUser NVARCHAR(50), 
    @esAdmin BIT,
    @salt NVARCHAR(MAX),
    @passwordHash VARBINARY(MAX),
    @Result INT OUTPUT
)
AS
    IF EXISTS (SELECT 1 FROM Empresas WHERE CIFEmpresa = @CIFEmpresa)
    BEGIN
        SET @Result = -1
        RETURN
    END

    IF EXISTS (SELECT 1 FROM Usuarios WHERE Email = @emailUser)
    BEGIN
        SET @Result = -2
        RETURN
    END

    BEGIN TRY
            BEGIN TRANSACTION 

            DECLARE @nombreSchema NVARCHAR(50)
            DECLARE @SqlCreateSchema NVARCHAR(MAX)
            DECLARE @IdEmpresa INT

            SELECT @nombreSchema = CONCAT(REPLACE(LOWER(@nombreEmpresa), ' ', '_'),'_schema')
            SELECT @IdEmpresa = ISNULL(MAX(IdEmpresa),0) + 1 FROM Empresas

    
            INSERT INTO Empresas (IdEmpresa, CIFEmpresa, NombreEmpresa, NombreSchema, FechaRegistro, Activo)
            VALUES (@IdEmpresa, @CIFEmpresa, @nombreEmpresa, @nombreSchema, GETDATE(), 1)

            SET @SqlCreateSchema = 'CREATE SCHEMA [' + @nombreSchema+ ']';
            EXEC sp_executesql @SqlCreateSchema;

            EXEC SP_CREATE_USER @IdEmpresa, @nombreUser, @emailUser, @passwordUser, @esAdmin, @salt, @passwordHash

            EXEC SP_CREAR_TABLA_CLIENTES_POR_DEFECTO @IdEmpresa

    COMMIT TRANSACTION;
    SET @Result = 1
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0
    END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_USER]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_CREATE_USER]
(
    @IdEmpresa INT, 
    @nombre NVARCHAR(50), 
    @email NVARCHAR(50), 
    @password NVARCHAR(50), 
    @esAdmin BIT,
    @salt NVARCHAR(MAX),
    @passwordHash VARBINARY(MAX)
)
AS
    DECLARE @IdUsuario INT
    SELECT @IdUsuario = ISNULL(MAX(IdUsuario),0) + 1 FROM Usuarios

    BEGIN TRY
        BEGIN TRANSACTION
            INSERT INTO Usuarios (IdUsuario, IdEmpresa, Email, Password, Nombre, EsAdmin)
            VALUES (@IdUsuario, @IdEmpresa, @email, @password, @nombre, @esAdmin)
            INSERT INTO UsuariosAux (IdUsuario, Salt, Password)
            VALUES (@IdUsuario, @salt, @passwordHash)
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
    END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_EMPRESA]
(
    @IdEmpresa INT
)
AS
    DECLARE @nombreSchema NVARCHAR(100);
    DECLARE @SqlDropAll NVARCHAR(MAX) = '';
    DECLARE @SqlDropSchema NVARCHAR(MAX);

    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa;

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT @SqlDropAll = @SqlDropAll + 'ALTER TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(t.name) + 
                             ' DROP CONSTRAINT ' + QUOTENAME(fk.name) + ';' + CHAR(13)
        FROM sys.foreign_keys fk
        INNER JOIN sys.tables t ON fk.parent_object_id = t.object_id
        INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
        WHERE s.name = @nombreSchema;

        SELECT @SqlDropAll = @SqlDropAll + 'DROP TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(t.name) + ';' + CHAR(13)
        FROM sys.tables t
        INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
        WHERE s.name = @nombreSchema;
       
        IF @SqlDropAll <> '' 
        BEGIN
            EXEC sp_executesql @SqlDropAll;
        END
            
        SET @SqlDropSchema = 'DROP SCHEMA ' + QUOTENAME(@nombreSchema) + ';';
        EXEC sp_executesql @SqlDropSchema;

        DELETE UA
        FROM UsuariosAux UA
        INNER JOIN Usuarios U 
        ON UA.IdUsuario = U.IdUsuario
        WHERE U.IdEmpresa = @IdEmpresa

        DELETE mo
        FROM Meta_Opciones mo
        INNER JOIN Meta_Columnas mc ON mo.IdColumna = mc.IdColumna
        INNER JOIN Meta_Tablas mt ON mc.IdTabla = mt.IdTabla
        WHERE mt.IdEmpresa = @IdEmpresa;

        DELETE mc
        FROM Meta_Columnas mc
        INNER JOIN Meta_Tablas mt ON mc.IdTabla = mt.IdTabla
        WHERE mt.IdEmpresa = @IdEmpresa;

        DELETE FROM Meta_Tablas WHERE IdEmpresa = @IdEmpresa;
        DELETE FROM Usuarios WHERE IdEmpresa = @IdEmpresa;
        DELETE FROM Empresas WHERE IdEmpresa = @IdEmpresa;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
    END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_OPCION_COLUMNA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_OPCION_COLUMNA]
(
    @IdEmpresa INT,
    @IdOpcion INT
)
AS
    DELETE FROM Meta_Opciones WHERE IdOpcion = @IdOpcion
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_ROW_DINAMICO]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_ROW_DINAMICO]
(
    @IdEmpresa INT,
    @NombreTabla NVARCHAR(100),
    @IdFila INT
)
AS
    DECLARE @nombreSchema NVARCHAR(100)
    DECLARE @SqlDelete NVARCHAR(MAX)

    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa

    SET @SqlDelete = 'DELETE FROM ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@NombreTabla) + 
                     ' WHERE [Id] = @idRegistro'

    EXEC sp_executesql 
        @SqlDelete, 
        N'@idRegistro INT', 
        @idRegistro = @IdFila
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_ROWS_MULTIPLE_DINAMICO]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_ROWS_MULTIPLE_DINAMICO]
    @IdEmpresa INT,
    @NombreTabla NVARCHAR(100),
    @IdsFilas NVARCHAR(MAX)
AS
 
    DECLARE @NombreSchema NVARCHAR(100);
    SELECT @NombreSchema = NombreSchema 
    FROM Empresas 
    WHERE IdEmpresa = @IdEmpresa;
 
    DECLARE @Sql NVARCHAR(MAX);
    SET @Sql = N'DELETE FROM ' + QUOTENAME(@NombreSchema) + '.' + QUOTENAME(@NombreTabla) + 
               N' WHERE Id IN (SELECT value FROM STRING_SPLIT(@IdsList, '',''))';
 
 
    EXEC sp_executesql @Sql, N'@IdsList NVARCHAR(MAX)', @IdsList = @IdsFilas;

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_TABLA_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
----------------------------------------------------------

-- DESTRUCCIÓN MASIVA

----------------------------------------------------------

CREATE   PROCEDURE [dbo].[SP_DELETE_TABLA_EMPRESA]

(

    @IdEmpresa INT, @nombreTabla NVARCHAR(100)

)

AS

BEGIN TRY 

BEGIN TRANSACTION

    DECLARE @nombreSchema NVARCHAR(100)

    DECLARE @SqlDropTable NVARCHAR(MAX)

    DECLARE @idTabla INT
 
    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa

    SELECT @idTabla = IdTabla FROM Meta_Tablas WHERE IdEmpresa = @IdEmpresa AND Nombre = @nombreTabla
 
    DELETE FROM Meta_Columnas WHERE IdTabla = @idTabla

    DELETE FROM Meta_Tablas WHERE IdTabla = @idTabla

    SET @SqlDropTable = 'DROP TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla)
 
    EXEC sp_executesql @SqlDropTable

    COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

 
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_USER]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DELETE_USER]
(
    @IdUsuario INT,
    @IdEmpresa INT
)
AS
    BEGIN TRY
        BEGIN TRANSACTION  
            DELETE FROM UsuariosAux
            WHERE IdUsuario = @IdUsuario
            DELETE FROM Usuarios 
            WHERE IdUsuario = @IdUsuario AND IdEmpresa = @IdEmpresa;
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
    END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_DROP_COLUMNA_TABLA_SCHEMA_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DROP_COLUMNA_TABLA_SCHEMA_EMPRESA]
(
    @IdEmpresa INT,
    @nombreTabla NVARCHAR(100),
    @nombreColumna NVARCHAR(100)
)
AS
BEGIN
    -- XACT_ABORT ON fuerza a SQL Server a detenerse y deshacer TODO si hay un error
    SET NOCOUNT ON;
    SET XACT_ABORT ON; 

    DECLARE @idTabla INT;
    DECLARE @nombreSchema NVARCHAR(100);
    DECLARE @SqlAlterTable NVARCHAR(MAX);
    DECLARE @SqlDropConstraint NVARCHAR(MAX);
    DECLARE @fkName NVARCHAR(200);
    DECLARE @idColumna INT;

    BEGIN TRY
        BEGIN TRAN; -- Iniciamos el escudo protector

        -- 1. Obtenemos las variables clave
        SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa;
        SELECT @idTabla = IdTabla FROM Meta_Tablas WHERE IdEmpresa = @IdEmpresa AND Nombre = @nombreTabla;
        SELECT @idColumna = IdColumna FROM Meta_Columnas WHERE IdTabla = @idTabla AND Nombre = @nombreColumna;

        -- 2. Buscamos si la columna es una Relación (Tiene FK constraint)
        SELECT @fkName = fk.name
        FROM sys.foreign_keys fk
        INNER JOIN sys.foreign_key_columns fkc ON fk.object_id = fkc.constraint_object_id
        INNER JOIN sys.columns c ON fkc.parent_object_id = c.object_id AND fkc.parent_column_id = c.column_id
        INNER JOIN sys.tables t ON fk.parent_object_id = t.object_id
        INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
        WHERE s.name = @nombreSchema AND t.name = @nombreTabla AND c.name = @nombreColumna;

        -- 3. Si tiene FK, la destruimos primero
        IF @fkName IS NOT NULL
        BEGIN
            SET @SqlDropConstraint = 'ALTER TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) + 
                                     ' DROP CONSTRAINT ' + QUOTENAME(@fkName) + ';';
            EXEC sp_executesql @SqlDropConstraint;
        END

        -- 4. Destruimos la columna física (SOLO SI EXISTE REALMENTE, así evitamos tu error)
        IF EXISTS(
            SELECT 1 FROM sys.columns 
            WHERE Name = @nombreColumna 
            AND Object_ID = Object_ID(QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla))
        )
        BEGIN
            SET @SqlAlterTable = 'ALTER TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) + 
                                 ' DROP COLUMN ' + QUOTENAME(@nombreColumna);
            EXEC sp_executesql @SqlAlterTable;
        END

        -- 5. Limpieza de Metadatos (Orden correcto: primero hijos, luego padre)
        IF @idColumna IS NOT NULL
        BEGIN
            DELETE FROM Meta_Opciones WHERE IdColumna = @idColumna;
            DELETE FROM Meta_Columnas WHERE IdColumna = @idColumna;
        END

        COMMIT TRAN; -- Si hemos llegado hasta aquí sin errores, guardamos los cambios de verdad
    END TRY
    BEGIN CATCH
        -- Si cualquier cosa explota, deshacemos todos los cambios
        IF @@TRANCOUNT > 0 ROLLBACK TRAN; 
        THROW; -- Relanzamos el error para que C# lo capture
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GET_EMPRESA]
(
    @IdEmpresa INT
)
AS
    SELECT IdEmpresa, CIFEmpresa, NombreEmpresa, FechaRegistro 
    FROM Empresas 
    WHERE IdEmpresa = @IdEmpresa;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_METADATA_TABLA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------
-- METADATA: TABLAS
----------------------------------------------------------
----------------------------------------------------------
-- PROCEDIMIENTO OBTENER METADATA DE UNA TABLA (Para pintar el HTML)
----------------------------------------------------------
CREATE   PROCEDURE [dbo].[SP_GET_METADATA_TABLA]
(
    @IdEmpresa INT,
    @NombreTabla NVARCHAR(100)
)
AS
    SELECT 
        c.IdColumna,
        c.Nombre AS NombreColumna,
        c.TipoDato,
        c.IdTablaRelacionada
    FROM Meta_Columnas c
    INNER JOIN Meta_Tablas t ON c.IdTabla = t.IdTabla
    WHERE t.IdEmpresa = @IdEmpresa AND t.Nombre = @NombreTabla
    ORDER BY c.IdColumna ASC; -- Para que siempre salgan en el mismo orden
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ROW_DINAMICO]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_GET_ROW_DINAMICO]
(
    @IdEmpresa INT,
    @NombreTabla NVARCHAR(100),
    @IdFila INT
)
AS
    DECLARE @nombreSchema NVARCHAR(100)
    DECLARE @SqlSelect NVARCHAR(MAX)

    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa
    
    SET @SqlSelect = 'SELECT * FROM ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@NombreTabla) + 
                        ' WHERE [Id] = @idRegistro'

    EXEC sp_executesql @SqlSelect, N'@idRegistro INT', @idRegistro = @IdFila    
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USUARIOS_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GET_USUARIOS_EMPRESA]
(
    @IdEmpresa INT
)
AS
    SELECT IdUsuario, Nombre, Email, EsAdmin 
    FROM Usuarios 
    WHERE IdEmpresa = @IdEmpresa;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_ROW_DINAMICO]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_INSERT_ROW_DINAMICO]
(
    @IdEmpresa INT,
    @NombreTabla NVARCHAR(100),
    @JsonData NVARCHAR(MAX) 
)
AS
    DECLARE @nombreSchema NVARCHAR(100)
    DECLARE @cols NVARCHAR(MAX)
    DECLARE @vals NVARCHAR(MAX)
    DECLARE @SqlGetMaxId NVARCHAR(MAX)
    DECLARE @SqlInsert NVARCHAR(MAX)
    DECLARE @NextId INT

    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa

    SET @SqlGetMaxId = N'SELECT @OutNextId = ISNULL(MAX([Id]), 0) + 1 FROM ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@NombreTabla)
    
    EXEC sp_executesql 
        @SqlGetMaxId, 
        N'@OutNextId INT OUTPUT', 
        @OutNextId = @NextId OUTPUT

    SELECT @cols = STRING_AGG(QUOTENAME([key]), ', '),
           @vals = STRING_AGG('''' + REPLACE([value], '''', '''''') + '''', ', ') 
    FROM OPENJSON(@JsonData)

    SET @cols = '[Id], ' + @cols
    SET @vals = CAST(@NextId AS NVARCHAR) + ', ' + @vals

    SET @SqlInsert = 'INSERT INTO ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@NombreTabla) + 
                     ' (' + @cols + ') VALUES (' + @vals + ');'

    EXEC sp_executesql @SqlInsert
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_COLUMNA_TABLA_SCHEMA_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------
-- METADATA: COLUMNAS
----------------------------------------------------------
CREATE   PROCEDURE [dbo].[SP_INSERTAR_COLUMNA_TABLA_SCHEMA_EMPRESA]
(
    @IdEmpresa INT, 
    @nombreTabla NVARCHAR(50), 
    @nombreColumna NVARCHAR(50), 
    @tipoDato NVARCHAR(50),
    @IdTablaRelacionada INT = NULL 
)
AS
    DECLARE @idColumna INT
    DECLARE @idTabla INT
    DECLARE @nombreSchema NVARCHAR(100)
    DECLARE @SqlType NVARCHAR(50)
    DECLARE @SqlAlterTable NVARCHAR(MAX)
    DECLARE @nombreTablaRelacionada NVARCHAR(100)
    DECLARE @nombreConstraintLimpio NVARCHAR(100)

    SELECT @idColumna = ISNULL(MAX(IdColumna),0) + 1 FROM Meta_Columnas
    SELECT @idTabla = IdTabla FROM Meta_Tablas WHERE Nombre = @nombreTabla AND IdEmpresa = @IdEmpresa
    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa

    INSERT INTO Meta_Columnas (IdColumna, IdTabla, Nombre, TipoDato, IdTablaRelacionada)
    VALUES (@idColumna, @idTabla, @nombreColumna, @tipoDato, @IdTablaRelacionada)

    SET @SqlType = CASE @tipoDato
        WHEN 'Texto' THEN 'NVARCHAR(255)'
        WHEN 'Numero' THEN 'INT'
        WHEN 'Decimal' THEN 'DECIMAL(18,2)'
        WHEN 'Fecha' THEN 'DATETIME'
        WHEN 'SiNo' THEN 'BIT'
        WHEN 'Select' THEN 'NVARCHAR(100)'
        WHEN 'Relacion' THEN 'INT' 
        ELSE 'NVARCHAR(MAX)'
    END

    SET @SqlAlterTable = 'ALTER TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) + 
                         ' ADD ' + QUOTENAME(@nombreColumna) + ' ' + @SqlType + ';'
    
    EXEC sp_executesql @SqlAlterTable

    IF @tipoDato = 'Relacion' AND @IdTablaRelacionada IS NOT NULL
    BEGIN
        SELECT @nombreTablaRelacionada = Nombre FROM Meta_Tablas WHERE IdTabla = @IdTablaRelacionada
        SET @nombreConstraintLimpio = 'FK_' + @nombreTabla + '_' + REPLACE(@nombreColumna, ' ', '')

        DECLARE @SqlForeignKey NVARCHAR(MAX)
        SET @SqlForeignKey = 'ALTER TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) +
                             ' ADD CONSTRAINT ' + QUOTENAME(@nombreConstraintLimpio) + 
                             ' FOREIGN KEY (' + QUOTENAME(@nombreColumna) + ') ' +
                             ' REFERENCES ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTablaRelacionada) + '([Id]);'
        
        EXEC sp_executesql @SqlForeignKey
    END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_OPCION_COLUMNA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------
-- OPCIONES TIPO SELECT
----------------------------------------------------------
CREATE   PROCEDURE [dbo].[SP_INSERTAR_OPCION_COLUMNA]
(
    @IdEmpresa INT,
    @NombreTabla NVARCHAR(100),
    @NombreColumna NVARCHAR(100),
    @Valor NVARCHAR(100),
    @Color NVARCHAR(20) = 'default'
)
AS
    DECLARE @idColumna INT
    DECLARE @idOpcion INT

    SELECT @idColumna = c.IdColumna
    FROM Meta_Columnas c
    INNER JOIN Meta_Tablas t ON c.IdTabla = t.IdTabla
    WHERE t.IdEmpresa = @IdEmpresa AND t.Nombre = @NombreTabla AND c.Nombre = @NombreColumna

    SELECT @idOpcion = ISNULL(MAX(IdOpcion), 0) + 1 FROM Meta_Opciones

    INSERT INTO Meta_Opciones (IdOpcion, IdColumna, Valor, Color)
    VALUES (@idOpcion, @idColumna, @Valor, @Color)
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_OPCIONES_COLUMNA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_LISTAR_OPCIONES_COLUMNA]
(
    @IdEmpresa INT,
    @NombreTabla NVARCHAR(100),
    @NombreColumna NVARCHAR(100)
)
AS
    SELECT o.IdOpcion, o.Valor, o.Color
    FROM Meta_Opciones o
    INNER JOIN Meta_Columnas c ON o.IdColumna = c.IdColumna
    INNER JOIN Meta_Tablas t ON c.IdTabla = t.IdTabla
    WHERE t.IdEmpresa = @IdEmpresa AND t.Nombre = @NombreTabla AND c.Nombre = @NombreColumna

GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN_USER]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------
-- PROCEDIMIENTO LOGIN DE USUARIO
----------------------------------------------------------
CREATE   PROCEDURE [dbo].[SP_LOGIN_USER]
(
    @Email NVARCHAR(100),
    @Password NVARCHAR(100)
)
AS
    -- Devuelve los datos del usuario si coincide el email y la contraseña
    -- (Nota: En un entorno real la contraseña iría encriptada, pero para clase esto sirve)
    SELECT IdUsuario, IdEmpresa, Nombre, Email, EsAdmin 
    FROM Usuarios 
    WHERE Email = @Email AND Password = @Password;
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_TABLA_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MOSTRAR_TABLA_EMPRESA]
(
    @IdEmpresa INT, 
    @nombreTabla NVARCHAR(100),
    @SortCol NVARCHAR(100) = 'Id',
    @SortDir NVARCHAR(4) = 'DESC',
    -- NUEVOS PARÁMETROS PARA EL FILTRO --
    @FilterCol NVARCHAR(100) = NULL,
    @FilterOp NVARCHAR(20) = NULL,
    @FilterVal NVARCHAR(MAX) = NULL
)
AS
BEGIN
    DECLARE @nombreSchema NVARCHAR(100)
    DECLARE @SqlSelectTabla NVARCHAR(MAX)
    DECLARE @WhereClause NVARCHAR(MAX) = ''
    -- 1. SEGURIDAD: Validar SortDir y SortCol
    IF UPPER(@SortDir) NOT IN ('ASC', 'DESC') SET @SortDir = 'DESC'
    IF ISNULL(@SortCol, '') = '' SET @SortCol = 'Id'
    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa
    -- 2. LÓGICA DE FILTRADO SEGURO
    -- Verificamos si nos han enviado datos para filtrar
    IF ISNULL(@FilterCol, '') <> '' AND ISNULL(@FilterOp, '') <> '' AND @FilterVal IS NOT NULL
    BEGIN
        -- QUOTENAME evita que inyecten código en el nombre de la columna
        DECLARE @SafeCol NVARCHAR(200) = QUOTENAME(@FilterCol)
        -- Mapeamos el operador que nos mandó Javascript a SQL real
        IF @FilterOp = 'EQUALS' 
            SET @WhereClause = ' WHERE ' + @SafeCol + ' = @P_FilterVal'
        ELSE IF @FilterOp = 'NOT_EQUALS' 
            SET @WhereClause = ' WHERE ' + @SafeCol + ' <> @P_FilterVal'
        ELSE IF @FilterOp = 'GREATER' 
            SET @WhereClause = ' WHERE ' + @SafeCol + ' > @P_FilterVal'
        ELSE IF @FilterOp = 'LESS' 
            SET @WhereClause = ' WHERE ' + @SafeCol + ' < @P_FilterVal'
        ELSE IF @FilterOp = 'CONTAINS' 
            -- Hacemos un CAST a NVARCHAR por si la columna es un número y quieren buscar un dígito
            SET @WhereClause = ' WHERE CAST(' + @SafeCol + ' AS NVARCHAR(MAX)) LIKE ''%'' + @P_FilterVal + ''%'''
    END
    -- 3. CONSTRUIMOS LA CONSULTA FINAL
    SET @SqlSelectTabla = 'SELECT * FROM ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) 
                          + @WhereClause 
                          + ' ORDER BY ' + QUOTENAME(@SortCol) + ' ' + UPPER(@SortDir)
    -- 4. EJECUTAMOS (Pasándole el parámetro @P_FilterVal aislado para evitar Inyección SQL)
    IF @WhereClause <> ''
    BEGIN
        EXEC sp_executesql 
            @stmt = @SqlSelectTabla, 
            @params = N'@P_FilterVal NVARCHAR(MAX)', 
            @P_FilterVal = @FilterVal
    END
    ELSE
    BEGIN
        -- Si no hay filtro, ejecutamos normal
        EXEC sp_executesql @SqlSelectTabla
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_COLUMNA_TABLA_SCHEMA_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_COLUMNA_TABLA_SCHEMA_EMPRESA]
(
    @IdEmpresa INT, 
    @nombreTabla NVARCHAR(50), 
    @nombreColumnaOld NVARCHAR(50), 
    @nombreColumnaNew NVARCHAR(50), 
    @tipoDato NVARCHAR(50),
    @IdTablaRelacionada INT = NULL 
)
AS 
    DECLARE @nombreSchema NVARCHAR(100)
    DECLARE @SqlAlterColumn NVARCHAR(MAX)
    DECLARE @SqlDataType NVARCHAR(50)
    DECLARE @nombreSchemaTablaColumna NVARCHAR(MAX)
    DECLARE @idTabla INT
    DECLARE @idColumna INT
    DECLARE @fkName NVARCHAR(200)
    DECLARE @SqlDropConstraint NVARCHAR(MAX)
    DECLARE @nombreTablaRelacionada NVARCHAR(100)
    DECLARE @nombreConstraintLimpio NVARCHAR(128)
    DECLARE @SqlForeignKey NVARCHAR(MAX)

    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa
    SELECT @idTabla = IdTabla FROM Meta_Tablas WHERE IdEmpresa = @IdEmpresa AND Nombre = @nombreTabla
    SELECT @idColumna = IdColumna FROM Meta_Columnas WHERE IdTabla = @idTabla AND Nombre = @nombreColumnaOld
    
    IF @nombreColumnaOld <> @nombreColumnaNew
    BEGIN
        SET @nombreSchemaTablaColumna = QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) + '.' + QUOTENAME(@nombreColumnaOld)
        EXEC sp_rename @nombreSchemaTablaColumna, @nombreColumnaNew, 'COLUMN';
        UPDATE Meta_Columnas SET Nombre = @nombreColumnaNew WHERE IdColumna = @idColumna;
    END

    SET @SqlDataType = CASE @tipoDato
        WHEN 'Texto' THEN 'NVARCHAR(255)'
        WHEN 'Numero' THEN 'INT'
        WHEN 'Decimal' THEN 'DECIMAL(18,2)'
        WHEN 'Fecha' THEN 'DATETIME'
        WHEN 'SiNo' THEN 'BIT'
        WHEN 'Select' THEN 'NVARCHAR(100)'    
        WHEN 'Relacion' THEN 'INT'
        ELSE NULL
    END

    IF @SqlDataType IS NOT NULL
    BEGIN
        SELECT @fkName = fk.name
        FROM sys.foreign_keys fk
        INNER JOIN sys.foreign_key_columns fkc ON fk.object_id = fkc.constraint_object_id
        INNER JOIN sys.columns c ON fkc.parent_object_id = c.object_id AND fkc.parent_column_id = c.column_id
        INNER JOIN sys.tables t ON fk.parent_object_id = t.object_id
        INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
        WHERE s.name = @nombreSchema AND t.name = @nombreTabla AND c.name = @nombreColumnaNew;

        IF @fkName IS NOT NULL
        BEGIN
            SET @SqlDropConstraint = 'ALTER TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) + 
                                     ' DROP CONSTRAINT ' + QUOTENAME(@fkName) + ';'
            EXEC sp_executesql @SqlDropConstraint;
        END

        SET @SqlAlterColumn = 'ALTER TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) + 
                                ' ALTER COLUMN ' + QUOTENAME(@nombreColumnaNew) + ' ' + @SqlDataType;
        
        EXEC sp_executesql @SqlAlterColumn;
            
        UPDATE Meta_Columnas 
            SET TipoDato = @tipoDato, IdTablaRelacionada = @IdTablaRelacionada 
            WHERE IdColumna = @idColumna;            
        
        IF @tipoDato = 'Relacion' AND @IdTablaRelacionada IS NOT NULL
        BEGIN
            SELECT @nombreTablaRelacionada = Nombre FROM Meta_Tablas WHERE IdTabla = @IdTablaRelacionada
            SET @nombreConstraintLimpio = 'FK_' + @nombreTabla + '_' + REPLACE(@nombreColumnaNew, ' ', '')
            
            SET @SqlForeignKey = 'ALTER TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTabla) +
                                 ' ADD CONSTRAINT ' + QUOTENAME(@nombreConstraintLimpio) + 
                                 ' FOREIGN KEY (' + QUOTENAME(@nombreColumnaNew) + ') ' +
                                 ' REFERENCES ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTablaRelacionada) + '([Id]);'
            
            EXEC sp_executesql @SqlForeignKey
        END
    END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE   PROCEDURE [dbo].[SP_UPDATE_EMPRESA]
(
    @IdEmpresa INT,
    @CIF NVARCHAR(10),
    @Nombre NVARCHAR(100),
    @Activo BIT
)
AS
    UPDATE Empresas 
    SET CIFEmpresa = @CIF,
        NombreEmpresa = @Nombre,
        Activo = @Activo
    WHERE IdEmpresa = @IdEmpresa;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_OPCION_COLUMNA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_OPCION_COLUMNA]
(
    @IdEmpresa INT,
    @IdOpcion INT,
    @NuevoValor NVARCHAR(100),
    @NuevoColor NVARCHAR(20)
)
AS
    UPDATE Meta_Opciones 
        SET Valor = @NuevoValor, Color = @NuevoColor 
        WHERE IdOpcion = @IdOpcion
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_ROW_DINAMICO]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPDATE_ROW_DINAMICO]
(
    @IdEmpresa INT,
    @NombreTabla NVARCHAR(100),
    @IdFila INT, 
    @Columna NVARCHAR(100), 
    @Valor NVARCHAR(MAX) 
)
AS
    DECLARE @nombreSchema NVARCHAR(100)
    DECLARE @SqlUpdate NVARCHAR(MAX)

    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa

    SET @SqlUpdate = 'UPDATE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@NombreTabla) + 
                     ' SET ' + QUOTENAME(@Columna) + ' = @nuevoValor ' +
                     ' WHERE [Id] = @idRegistro'

    EXEC sp_executesql 
        @SqlUpdate, 
        N'@nuevoValor NVARCHAR(MAX), @idRegistro INT', 
        @nuevoValor = @Valor, 
        @idRegistro = @IdFila
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USER]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE   PROCEDURE [dbo].[SP_UPDATE_USER]
(
    @IdUsuario INT,
    @IdEmpresa INT, 
    @nombre NVARCHAR(50), 
    @email NVARCHAR(50), 
    @esAdmin BIT
)
AS
    UPDATE Usuarios 
    SET Nombre = @nombre,
        Email = @email,
        EsAdmin = @esAdmin
    WHERE IdUsuario = @IdUsuario AND IdEmpresa = @IdEmpresa;       
GO
/****** Object:  StoredProcedure [dbo].[SP_UPSERT_TABLA_SCHEMA_EMPRESA]    Script Date: 18/03/2026 13:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UPSERT_TABLA_SCHEMA_EMPRESA]
(
    @IdEmpresa INT, 
    @nombreTablaNew NVARCHAR(50), 
    @nombreTablaOld NVARCHAR(50)
)
AS
    DECLARE @nombreSchema NVARCHAR(50)
    DECLARE @nombreTablaInterno NVARCHAR(50)
    DECLARE @SqlCreateTableSchema NVARCHAR(MAX)
    DECLARE @idTabla INT
    DECLARE @idTablaInsert INT

    SELECT @nombreSchema = NombreSchema FROM Empresas WHERE IdEmpresa = @IdEmpresa
    SELECT @nombreTablaInterno = REPLACE(LOWER(@nombreTablaNew), ' ', '_')

    SELECT @idTabla = IdTabla FROM Meta_Tablas WHERE Nombre = @nombreTablaOld AND IdEmpresa = @IdEmpresa

    IF(@idTabla IS NULL)
    BEGIN
        SELECT @idTablaInsert = ISNULL(MAX(IdTabla),0) + 1 FROM Meta_Tablas

        INSERT INTO Meta_Tablas (IdTabla, IdEmpresa, Nombre, NombreInterno)
        VALUES (@idTablaInsert, @IdEmpresa, @nombreTablaNew, @nombreTablaInterno)

        SET @SqlCreateTableSchema = 'CREATE TABLE ' + QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTablaNew) + 
            '([Id] INT PRIMARY KEY, [FechaCreacion] DATETIME DEFAULT GETDATE());'

        EXEC sp_executesql @SqlCreateTableSchema
    END
    ELSE
    BEGIN
        UPDATE Meta_Tablas 
        SET Nombre = @nombreTablaNew, NombreInterno = @nombreTablaInterno
        WHERE IdTabla = @idTabla

        DECLARE @oldTabla NVARCHAR(200)
        SET @oldTabla = QUOTENAME(@nombreSchema) + '.' + QUOTENAME(@nombreTablaOld)

        EXEC sp_rename @oldTabla, @nombreTablaNew
    END
GO

